.sidebar-container {
  min-height: 85.5vh;
  background: white;
  width: 30%;
  padding: 1vw;
}

.sidebar-header {
  padding: 10px;
  color: black;
  font-size: 16px;
  text-align: center;
}

.panel-header {
  color: black;
}

.panel-divider {
  background-color: #ccc;
}

.empty-message {
  color: black;
  text-align: center;
}

@media (max-width: 900px){
  .sidebar-container{
    margin-top: 3vh;
    width: 98%;
    min-height: 50vh;
  }
}
